.chart-wrapper {
  display: flex;
  flex-direction: column;
}

.file-picker {
  width: 100%;
}

.file-input-wrapper {
  height: 50vh;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  height: calc(100% - 50px);
  top: 50px;
}
